<div class='columns'>
  <div class='column is-3'>
    <div class='card'>
      <header class='card-header mb-4'>
        <p class='card-header-title'>
          Welcome
          {{user.username}}
        </p>
      </header>
    </div>

    <div class="contributed-list">
      <strong>Contributed:</strong>
      <ul>
        {{#each user.stories as |story| }}
            {{#if story.published }}
              <li class="list-item"> <a href="/story/{{story.id}}" class='list-item is-link'>{{story.title}}</a></li>
            {{else}}
              <li class='has-text-dark'>{{story.title}}</li>
            {{/if}}
          {{/each}}
      </ul>
    </div>

    <div class="motivate mt-2">
      <button id="motivate-me-button" class="button is-warning">Motivate Me!</button>
      <img id="motivate-image" class="image" src="{{imageURL}}" alt="AI generated image">
    </div>
    
  </div>

  <div class="column is-9">
      <div class="tabs is-boxed is-medium is-centered">
      <ul>
        <li id="create-tab-button" class="is-active "><a>Create</a></li>
        <li id="collab-tab-button" class=""><a>Collaborate</a></li>
      </ul>
    </div>

      <p>
        <div id="create-tab" class=" container">
          <form>
            <input id="new-title" class="input is-primary is-medium mb-2" type="text" placeholder="Enter title...">

            <div class="control mb-2">
              <textarea id="new-content" class="textarea" placeholder="The beginning of your short story..."></textarea>
            </div>

            <div class="control is-align-items-center">
              <button id="create-button" class="button is-medium is-link is-align-items-center">Submit</button>
            </div>

          </form>
        </div>
        <div id="collaborate-tab" class="container">
          <form>
            <h2 id="story-title" class="mb-4 story-title" data-id="{{getStory.id}}">{{getStory.title}}</h2>
            <p id="story-text" class="mb-4 story-text">
            {{breaklines getStory.content}}
            </p>

            <div class="control mb-4">
              <textarea id='new-text' class="textarea is-primary" placeholder="Add to this story..."></textarea>
            </div>

            <div class="control is-align-items-center">
              <button id="add-button" class="button is-medium is-link is-align-items-center">Add</button>
            </div>
          </form>
        </div>

      </p>
  </div>
</div>



<script src='./js/logout.js'></script>
<script src='./js/profile.js'></script>