<div class='columns'>
  <div class='column is-3'>
    <div class='card'>
      <header class='card-header mb-4'>
        <p class='card-header-title'>
          Welcome
          {{user.username}}
        </p>
      </header>
    </div>

    <div class="contributed-list">
      <strong>Contributed:</strong>
      <ul>
        {{#each user.stories as |story| }}
            {{#if story.published }}
              <li class="list-item"> <a href="/story/{{story.id}}" class='list-item is-link'>{{story.name}}</a></li>
            {{else}}
              <li class='has-text-light'>{{story.name}}</li>
            {{/if}}
          {{/each}}
      </ul>
    </div>
    
  </div>

  <div class="column is-9">
      <div class="tabs is-boxed is-medium is-centered">
      <ul>
        <li id="create-tab-button" class="is-active "><a>Create</a></li>
        <li id="collab-tab-button" class=""><a>Collaborate</a></li>
      </ul>
    </div>

      <p>
        <div id="create-tab" class=" container">
          <form>
            <input class="input is-primary is-medium mb-2" type="text" placeholder="Enter title...">

            <div class="control mb-2">
              <textarea class="textarea" placeholder="The beginning of your short story..."></textarea>
            </div>

            <div class="control is-align-items-center">
              <button id="create-button" class="button is-medium is-link is-align-items-center">Submit</button>
            </div>

          </form>
        </div>

        <div id="collaborate-tab" class="container">
          <form>
            <h2 class="mb-4 story-title">Title of Story</h2>
            <p class="mb-4 story-text">
            "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
            <br><br>
            "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
            </p>

            <div class="control mb-4">
              <textarea class="textarea is-primary" placeholder="Add to this story..."></textarea>
            </div>

            <div class="control is-align-items-center">
              <button class="button is-medium is-link is-align-items-center">Add</button>
            </div>
          </form>
        </div>

      </p>
  </div>
</div>



<script src='./js/profile.js'></script>
<script src='./js/logout.js'></script>
<script src='./js/profile.js'></script>